.align-top {
  vertical-align: top;
}

.mr-\[10px\] {
  margin-right: 10px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.accommodation-profile-field,
.meta-box-map-field,
.beach-profile-field,
.restaurant-profile-field {
  margin-bottom: 5px;
}

.meta-box-label {
  margin-bottom: 5px;
}

.meta-box-input {
  padding: 5px;
}

.meta-box-select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.accommodation-address,
.beach-address,
.restaurant-address {
  height: 75px;
}

.accommodation-phone,
.accommodation-website,
.accommodation-address,
.restaurant-website,
.restaurant-address {
  width: 191px;
}

.restaurant-cuisine {
  width: 195px;
}

.restaurant-phone {
  width: 200px;
}

.restaurant-cost-low {
  width: 112px;
}

.restaurant-cost-high {
  width: 108px;
}

select.meta-box-select option.unselected,
select.meta-box-select:has(option:first-of-type:checked),
select.business-hours-meal option.unselected,
select.business-hours-meal:has(option:first-of-type:checked) {
  color: #aab4bc;
}

select.meta-box-select option:nth-of-type(n+2),
select.business-hours-meal option:nth-of-type(n+2) {
  color: #2c3338;
}

.add-business-hours-row {
  margin-top: 5px;
}

.beach-phone {
  width: 203px;
}

.beach-website,
.beach-address {
  width: 195px;
}